*.o
*.so
*.png
legacy/
experiments/

# build artifacts
build/
dist/
*.egg-info/

# wheel unpack
wheel_contents/

# python
ouxinfo/__pycache__
tutorials/__pycache__
shell_model/__pycache__

# editor
.vscode

